<div class="more">
  <div class="detail">
  <ul class="more_list">
    <li>
      <%= link_to '詳細', resolution_path(resolution.id), method: :get %>
    </li>
      <% if user_signed_in? && current_user.id == resolution.user_id %>
      <li>
        <%= link_to '編集', edit_resolution_path(resolution.id), method: :get %>
      </li>
      <li>
        <%= link_to '削除', resolution_path(resolution.id), method: :delete %>
      </li>
      <% end %>
    </ul>
    <%= link_to "#{resolution.user.nickname}さん", "/users/#{resolution.user.id}"%>
    <div class="detail-top"> 
      <span style="color: white;">エラーメッセージ</span>
    </div> 
    <div class="detail-bottom"> 
      <%= resolution.erroe_message %>
    </div>
    <div class="detail-top"> 
      <span style="color: white;">言語</span>
    </div> 
    <div class="detail-bottom"> 
      <%= resolution.language %>
    </div>
    <div class="detail-top"> 
      <span style="color: white;">エラーが起きた状況</span>
    </div> 
    <div class="detail-bottom"> 
      <%= resolution.status %>
    </div>
    <div class="detail-top"> 
      <span style="color: white;">コードを記述</span>
    </div> 
    <div class="detail-bottom"> 
      <%= resolution.code %>
    </div>
    <div class="detail-top"> 
      <span style="color: white;">原因・教訓</span>
    </div> 
    <div class="detail-bottom"> 
      <%= resolution.cauce %>
    </div>
  </div> 
</div>
 
