<div class="contents row">
  <div class="more">
    <div class="detail">
    <ul class="more_list">
      <li>
        <%= link_to '詳細', resolution_path(@resolution.id), method: :get %>
      </li>
        <% if user_signed_in? && current_user.id == @resolution.user_id %>
        <li>
          <%= link_to '編集', edit_resolution_path(@resolution.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', resolution_path(@resolution.id), method: :delete %>
        </li>
        <% end %>
      </ul>
      <%= link_to "#{@resolution.user.nickname}さん", "/users/#{@resolution.user.id}"%>
      <div class="detail-top"> 
        <span style="color: white;">エラー解決の投稿</span>
      </div> 
      <div class="detail-bottom"> 
        <%= qiita_markdown(@resolution.status) %>
      </div>
    </div> 
  </div>
</div>
 
