 <div class="content_post" >
      <p><%= error.erroe_message %></p>
      <span class="name">
      <p><%= error.language %></p>
      <p><%= error.status %></p>
      <p><%= error.code %></p>
      <p><%= error.cauce %></p>
      </span>
    </div>