<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @error, local: true) do |form| %>
      <%= form.text_field :erroe_message, placeholder: "エラーメッセージ" %>
      <%= form.text_field :language, placeholder: "言語" %>
      <%= form.text_field :status, placeholder: "エラーが起きた状況" %>
      <%= form.text_area :code, placeholder: "コードを記述", rows: "10" %>
      <%= form.text_area :cauce, placeholder: "原因・教訓", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>