<!DOCTYPE html>
<html>
  <head>
    <title>Output</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Output</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
           <span><%= current_user.nickname %>
              <ul class="user__info">
                <li>
                  <%= link_to "マイページ", "/users/#{current_user.id}" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </span>
            <div class="grid-6">
              <%= link_to "エラー解決投稿", new_resolution_path, class: "post-1" %>
            </div>
             <div class="grid-6">
              <%= link_to "記事投稿", new_article_path, class: "post-1" %>
            </div>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        アウトプットをはじめよう
      </p>
    </footer>
  </body>
</html>
